<form>
	<mat-form-field>
	  <mat-select [(ngModel)]="selectedProduct" placeholder="Lista de Productos" name="producto">
	    <mat-option *ngFor="let producto of products" [value]="producto">
	      {{ producto.name }}
	    </mat-option>
	  </mat-select>
	</mat-form-field>
	<div *ngIf="selectedProduct" class="product-selected">
		<img src="{{selectedProduct.image}}">
		<div class="product-details">
			<h3>{{selectedProduct.name}}</h3>
			<p class="product-description">
				{{selectedProduct.description}}
			</p>
			<p>
				Precio : $ {{selectedProduct.price}}
			</p>
			<button (click)="addItemToCart(selectedProduct)" mat-raised-button>Agregar al Carro</button>
		</div>
	</div>
</form>
